@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

.serviceCard {
  width: 328px;
  background-color: #ffffff;
  box-shadow: 0 13px 19px rgba(33, 37, 41, 0.1);
}

.content {
  margin-left: 40px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.serviceCard h3 {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 16px;
  margin: 20px 0 0 0;
}

hr {
  width: 50px;
  height: 2px;
  background-color: #e74040;
  border: none;
  margin: 20px 0 0 0;
}

.serviceCard h4 {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  color: #737373;
  margin: 20px 0 0 0;
}

@media (max-width: 575px) {
  .serviceCard {
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .serviceCard {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .serviceCard {
    margin: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .serviceCard {
    margin: 20px;
  }
}
