@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
}

.header {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid #000000;
}

.logo {
  margin-left: 70px;
}

.assets {
  display: flex;
  align-items: center;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 15px;
  margin-right: 70px;
}

.assets h4 {
  color: #737373;
  letter-spacing: 0.2px;
}

.assets button {
  width: 186px;
  height: 40px;
  font-family: "Montserrat Medium", sans-serif;
  font-size: 20px;
  background-color: transparent;
  color: #ff685b;
  border-radius: 7px;
  border: 2px solid #ff685b;
  margin-left: 56px;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 575px) {
  .assets {
    margin-right: 10px;
  }
  
  .assets button {
    width: 106px;
    height: 36px;
    margin-left: 10px;
  }

  .logo {
    margin-left: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .assets {
    margin-right: 40px;
  }
  
  .assets button {
    width: 106px;
    height: 36px;
    margin-left: 40px;
  }

  .logo {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .assets {
    margin-right: 70px;
  }
  
  .assets button {
    width: 106px;
    height: 36px;
    margin-left: 40px;
  }

  .logo {
    margin-left: 70px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
  }
}